@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Imperial+Script&family=Twinkle+Star&display=swap");

.navbar-brand {
  font-family: "Imperial Script", cursive;
  font-size: 2rem;
}
h1 {
  font-family: "Imperial Script", cursive;
}
h4 {
  font-family: "Imperial Script", cursive;
}
h2 {
  font-family: "Niconne", cursive;
}

p {
  font-family: "Caveat Brush", cursive;
}

section {
  padding-top: 3rem;
}

.jumbotron {
  /* padding-top: 8rem; */
  background-color: #e2edff;
}

#sambutan {
  background-color: #ffffff;
  font-family: "Niconne", cursive;
}
#acara {
  background-color: #e2edff;
}
#lokasi {
  background-color: #e2edff;
}

p {
  font-size: smaller;
}
.time-section {
  display: inline-block;
  margin-left: 20px;
}
.time-section:first-child {
  margin-left: 0;
}

.time-section > .col {
  background-color: rgb(125, 211, 252);
  height: 100px;
  width: 100px;
  border-radius: 10px;
  font-size: 50px;
  color: #ffffff;
  line-height: 100px;
}

.time-label {
  display: inline-block;
  padding-top: 4px;
  text-align: center;
  margin-left: 20px;
}

.card {
  border-radius: 50px;
}
